<!DOCTYPE html>
<html>
<head>
  <title>{{ Chart }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
<div class="container">
  <h1 class="text-center"></h1>
  <input type="button" value="Эталонный график" id="mybutton"/>
  <input type="button" value="Текущий график" id="mybutton1"/>
  <input type="button" value="Отрисовка" id="mybutton2"/>



</div>
<div class="container">
  <canvas id="line-chart"></canvas>
</div>
<table id="mytable" class="source"></table>

<script>
    var str;
    var str_r;
        $("#mybutton").on('click',function () {
            console.log('press button');
         $.ajax({
            type: "GET",
            url: "/testajax",
            dataType: "json",
            contentType: "application/json",
            success: function(data) {
                // var str1 = '';
                var str1 = JSON.stringify(data);
                console.log("данные" + str1);
                str = JSON.parse(str1);
                console.log(str);


                //var str = JSON.parse(str1);
                //console.log(str);
                // $("#mytable").html
                // console.log(JSON.stringify(str.reference_chart));
                // str1 = str.reference_chart;

                //str1 = JSON.parse(str.reference_chart));
                // console.log(JSON.stringify(str1.time[0]));
                // str2 = str1.time[0];
                //$("#mytable").html(str2.begin_time);
                // console.log(str2.begin_time);
               }

            })
        });

    $("#mybutton1").on('click',function () {
        console.log('press button1');
        $.ajax({
            type: "GET",
            url: "/testajax1",
            dataType: "json",
            contentType: "application/json",
            success: function(data) {
                // var str1 = '';
                var str2 = JSON.stringify(data);
                console.log("данные" + str2);
                str_r = JSON.parse(str2);
                console.log(str_r);


                //var str = JSON.parse(str1);
                //console.log(str);
                // $("#mytable").html
                // console.log(JSON.stringify(str.reference_chart));
                // str1 = str.reference_chart;

                //str1 = JSON.parse(str.reference_chart));
                // console.log(JSON.stringify(str1.time[0]));
                // str2 = str1.time[0];
                //$("#mytable").html(str2.begin_time);
                // console.log(str2.begin_time);
            }
        })
            });
        $("#mybutton2").on('click',function () {
        var data_etalon_chart = str;
        var data_simulated_chart = str_r;
        var chart = document.getElementById('line-chart').getContext('2d');
        var performance_Chart = new Chart(chart, {
            type: 'line',
            data: {
                labels: Object.keys(data_etalon_chart),
                datasets: [{
                    data: Object.values(data_etalon_chart),
                    label: "Эталонный график",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: Object.values(data_simulated_chart),
                    label: "Текущий график",
                    borderColor: "#FF0000",
                    fill: false
                },{
                    data:[],
                    label:"",
                    borderColor:"#008000",
                    fill:false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    });
</script>

{% block body %}{% endblock %}
</body>
</html>



