<!DOCTYPE html>
<html>
<head>
  <title>{{ Chart }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script src="/javascripts/index.js"></script>


</head>
<body>
<div class="container">
  <h1 class="text-center">Пока большой здаровенный БОЛТ!!!</h1>
  <input type="button" value="запрос" id="mybutton"/>
  <input type="button" value="12345" id="mybutton1"/>


</div>
<div class="container">
  <canvas id="line-chart"></canvas>
</div>
<table id="mytable" class="source"></table>

<script>
    $("#mybutton").on('click',function () {
        console.log('press button');
        $.ajax({
            type: "GET",
            url: "/testajax",
            dataType: "json",
            contentType: "application/json",
            success: function(data){
                var str = '';
                str = JSON.stringify(data);
                console.log("данные" + str);
                str = JSON.parse(str);

               // $("#mytable").html
                console.log(JSON.stringify(str.reference_chart));
                str1 = str.reference_chart;
                 $("#mytable").html(str.time);
                //str1 = JSON.parse(str.reference_chart));
                console.log(JSON.stringify(str1.time[0]));
                str2 = str1.time[0];
                console.log(str2.begin_time);
                $("#mytable").html(str2.begin_time);
            }
        });
    });
    /*$("#mybutton1").on('click',function () {
        console.log('press button1');
        $.ajax({
            type: "GET",
            url: "/123",
            dataType: "json",
            contentType: "application/json",
            success: function(data){
                var str1 = '';
                str1 = JSON.stringify(data);
                console.log("данные" + str1);
            }
        });
    });*/
    var chart = document.getElementById('line-chart').getContext('2d');
    var myChart = new Chart(chart, {
        type: 'line',
        data: {
            labels: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],
            datasets: [{
                data: [0,1,2],
                label: "reference chart",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [],
                label: "calculated chart",
                borderColor: "#8e5ea2",
                fill: false
            },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
{% block body %}{% endblock %}
</body>
</html>



